@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Electrolize&family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Electrolize&family=Jura:wght@300..700&family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(-45deg, #240046, #da1b60, #3c096c, #7209b7);
	background-size: 150% 2000%;
	-webkit-animation: gradient 30s ease infinite;
	        animation: gradient 20s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.logo{
	display: flex;
    align-items: center;
    flex-direction: column;
}
.imgLogo{
	width: 10%;
}
.about{
	display: flex;
	align-items: stretch;
	flex-direction: row;
	height: 400%;
}
.card{
	border: none;
	border-radius: 8px;
	padding: 16px;
	margin: 16px;
	margin-top: 2%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	background-color: rgba(112, 214, 255, 0.1);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
}
.card h1 {
	font-size: 1.5em;
	margin-bottom: 12px;
	font-family: 'Mitr', sans-serif;
	color: #778da9;
}
  
.card p {
	font-size: 120%;
	margin-left: 3%;
	font-family: 'Quicksand', sans-serif;
	color: #caf0f8;
}
.cardContent{
	display: flex;
	align-items: center;

}
.content {
	text-align: left;
}
  
.imgProfile{
	width: 100%;
}
.btnShow{
	align-items: center;
	background-image: linear-gradient(144deg, rgba(219, 0, 182, 0.8), rgba(247, 37, 133, 0.8) 50%, rgba(137, 0, 242, 0.8));
	border: 0;
	border-radius: 8px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	box-sizing: border-box;
	color: #FFFFFF;
	display: flex;
	font-family: 'Mitr', sans-serif;
	font-size: 20px;
	justify-content: center;
	/* line-height: 1em; */
	width: 95%;
	height: 30%;
	padding: 2px 2px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	/* white-space: nowrap; */
	cursor: pointer;
	margin: 1% 0;
}
.btnShow:active,
.btnShow:hover {
  outline: 0;
}

.btnShow span {
  background-color: rgba(181, 23, 158, 0.7);
  /* padding: 8px 10px; */
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnShow:hover span {
  background: none;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .modal {
	/* max-width: 80%; */
	width: 70%;
	height: auto;
	/* max-width: 400px; */
	background-color: rgba(141, 153, 174, 0.1);
	backdrop-filter: blur(30px);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	animation: anim-show 0.3s ease-out;
  }
  @keyframes anim-show {
	from {
	  opacity: 0;
	  transform: scale(0.8);
	}
	to {
	  opacity: 1;
	  transform: scale(1);
	}
  }
 .modal.hide {
	animation: anim-hide 0.8s ease-out;
  }
  @keyframes anim-hide {
	from {
	  opacity: 1;
	  transform: scale(1);
	}
	to {
	  opacity: 0;
	  transform: scale(0.8);
	}
  }

 
  
  .modal-header {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

  }
  
  .modal-header-title {
	margin: 0;
	visibility: hidden;
  }
  
.close {
	background: none;
	border: none;
	cursor: pointer;
	display: grid;
	justify-items: end;
}
  
.modal-footer {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}
  
.modal-close {
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}
  
.submit {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

.BClose{
	width: 30%;
}

.modal-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(204, 2, 211, 0); /* Ajusta la opacidad y el color de fondo */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	pointer-events: none;
}
  
.modal-background p {
	font-family: 'Limelight', sans-serif;
	font-size: 20em; /* Ajusta el tamaño del texto */
	color: #b5179e;
	opacity: 0.1; /* Ajusta el color del texto */
}

.icons{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icons h1{
	font-family: 'Mitr', sans-serif;
	color: #669bbc;
}

.front, .back, .extras{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3%;
}
.sk{
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0 3%;
}

.sk p{
	font-family: 'Quicksand', sans-serif;
	color: #e2a3c7;
}
.structure{
	display: flex;
	justify-content: center;
}

#project{
	display: flex !important;
	justify-content: center !important;
    align-items: center !important;
	align-content: center !important;
	flex-direction: column !important;
}
#project img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    max-height: 100%; /* Ajusta la altura máxima de las imágenes */
	margin: 1%;
}

.modal-content h1{
	text-align: center;
	font-family: 'Limelight', sans-serif;
	font-size: 4em; /* Ajusta el tamaño del texto */
	color: #b5179e;
	opacity: 0.3;
}
.slick-slider {
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    width: 80%; /* Ajusta el ancho del carrusel según sea necesario */
}

#description{
	box-shadow: none;
}

#description h1{
	font-family: 'Mitr', sans-serif;
	font-size: 2em;
	color: #f72585;
}
#certi{
	width: 60%;
}

.contact{
	display: flex;
	justify-content: end;
	margin-right: 12px;
}

.weeb{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
.waviy {
	position: relative;
  }
  .waviy span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	font-family: "Electrolize", sans-serif;
	color: #fff;
	text-transform: uppercase;
	animation: flip 15s infinite;
	animation-delay: calc(.5s * var(--i));
	text-shadow: 0px 0px 10px #251722;
  }
  @keyframes flip {
	0%,60% {
	  transform: rotateY(360deg) 
	}
  }


